[submodule "gnu-efi"]
	path = gnu-efi
	url = https://github.com/Absurdponcho/gnu-efi
[submodule "OVMFbin"]
	path = OVMFbin
	url = https://github.com/Absurdponcho/OVMFbin
[submodule "kernel"]
	path = kernel
	url = https://github.com/Absurdponcho/kernel
